/* Reset some default styles */
body,
html,
div,
p {
  margin: 0;
  padding: 0;
}

.simple {
  background-color: #add8e6;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  margin-top: 1em;
  background-color: white;
}

.project-image {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.project-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-details {
  padding: 10px;
  text-align: center;
}

.project-name {
  font-size: 24px;
  font-weight: bold;
}

.project-description {
  margin-top: 10px;
  font-size: 1.1em;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 1em;
}

.github-button,
.visit-button {
  background-color: #f646aa;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  align-items: center;
}

.github-button:hover,
.visit-button:hover {
  background-color: #ff91a2;
  color: white;
}
.carousel .control-dots {
  color: #f646aa;
}

.carousel .carousel-slider {
  max-width: 100%;
  margin: 0 auto;
}

.carousel .carousel-status {
  display: none;
}

.carousel .thumbs-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.carousel .thumb {
  background: pink;
  height: 8px;
  width: 8px;
  border: none;
  margin: 0 4px;
  transition: transform 0.3s;
}

.carousel .thumb.selected {
  transform: scale(1.5);
}

.carousel .control-prev {
  margin-left: 12em;
  color: white;
}
.carousel .control-next {
  margin-right: 12em;
  color: white;
}
.carousel .control-prev:hover,
.carousel .control-next:hover {
  background-color: transparent !important;
  color: #f646aa !important;
}

.carousel .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
}

@media (max-width: 480px) {
  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85%;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .project-card {
    display: flex;
    padding: 1em 0 1em 0;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
  }
}
