/* About.css */
.about-container {
  background-image: url("../../img/skyColor.png");
  padding: 20px;
  text-align: center;
  background-color: #b1e1fc;
  margin: 1em;
  border-radius: 2em;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 5em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.left {
  flex: 1;
  padding: 20px;
  font-size: 18px;
  text-align: justify;
}

.middle {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.middle img {
  border: 2px solid #000; /* Customize border color */
  border-radius: 10px 20px;
  background-color: white;
  padding: 25px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 10);
}

.right {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.row {
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 2.5em;
  font-weight: bold;
}

.label {
  font-size: 16px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .left,
  .middle,
  .right {
    flex: 1;
  }
}
