.contact-main-container {
  text-align: center;
}

.map-container {
  margin-top: 1em;
  overflow: hidden;
}

.contact-form {
  margin-top: 20px;
}

.contact-inputs {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.contact-inputs input,
.contact-inputs textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-inputs input[type="submit"] {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.contact-inputs input[type="submit"]:hover {
  background-color: #0056b3;
}

.common-heading h1 {
  font-size: 2rem;
  margin-top: 0px;
}
