/* BigScrollText.css */

.scrolling-text-container_big {
  height: 6rem; /* Set the height to 5rem */
  overflow: hidden;
  font-size: 4rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-family: "Rubik Mono One", monospace;
}
