.image-sliderC {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 1em;
  margin-bottom: 1em;
}

.containerC {
  text-align: center;
  background-color: #f8f4f4;
  border-radius: 0.3125rem;
  padding: 20px;
  margin: 1rem;
  max-width: 100%; /* Make the container responsive */
}

.slider-contentC {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  white-space: nowrap;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  width: calc(100% / 7); /* Set the default width for large screens */
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.carousel-image.active {
  transform: scale(1.1);
}

.btn {
  cursor: pointer;
  font-size: 2rem;
  margin: 0 1rem;
  background: transparent;
  border: none;
  outline: none;
}

@media (max-width: 1024px) {
  .carousel-image {
    width: calc(100% / 5); /* Adjust width for small screens and laptops */
  }
}

@media (max-width: 768px) {
  .carousel-image {
    width: calc(100% / 3); /* Adjust width for tablets */
  }
}

@media (max-width: 480px) {
  .carousel-image {
    width: 100%; /* Full width for mobile devices */
  }

  /* Add any additional CSS styles for responsiveness as needed */
}
