/* components/Carousel.css */
.carousel-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap; /* Ensure all images are in a single row */
}

.carousel {
  font-size: 0; /* Remove white-space between inline-block elements */
  overflow: auto; /* Enable horizontal scrolling */
}

.carousel-slide {
  display: inline-block;
  margin-right: 10px; /* Add spacing between images (adjust as needed) */
}

.carousel img {
  max-width: 100%; /* Adjust the width of images as needed */
  height: auto;
}
