.contact-us-main {
  text-align: center;
  justify-content: center;
  margin-right: 2em;
}
form {
  max-width: 25rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.contact {
  text-align: center;
}

.contact h1 {
  font-size: 2em;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 1rem;
  margin: 0.5em 0;
  border: 0.0625em solid #ccc;
  border-radius: 0.25em;
}

textarea {
  resize: vertical;
  min-height: 5em;
}

input[type="submit"] {
  background-color: #f646aa;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  margin-top: 0.5em;
}

.validation-error {
  color: red;
  text-align: center;
  margin-top: 5px;
}

.confirmation-alert {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}

/* Mobile devices (320px — 480px) */
@media (max-width: 480px) {
  .contact h1 {
    font-size: 1.5em;
  }
  form {
    max-width: 80%;
  }
}

/* iPads, Tablets (481px — 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .contact h1 {
    font-size: 1.5em;
  }
  form {
    max-width: 70%;
  }
}

/* Small screens, laptops (769px — 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .contact h1 {
    font-size: 2em;
  }
  form {
    max-width: 50%;
  }
}

/* Desktops, large screens (1025px — 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  .contact h1 {
    font-size: 2.2em;
  }
  form {
    max-width: 40%;
  }
}
