/* Education.css */
.education {
  background-color: #5c9291;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 1em;
}

.education h2 {
  font-size: 24px;
  margin: 0;
  text-align: center;
  font-family: "Archivo Black", sans-serif;
  font-size: 1.5rem;
}

.education-details h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: whitesmoke;
}

.education-details p {
  font-size: 16px;
  margin: 5px 0;
}
