.experience {
  background-color: #ffdc44;
  padding: 20px;
  border-radius: 0.3125rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  margin: 1em;
}

@media (max-width: 480px) {
  .experience {
    padding: 10px;
  }

  .experience-heading {
    font-size: 2rem;
  }
  .description {
    font-size: 0.8em;
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .experience {
    padding: 10px;
  }

  .experience-heading {
    font-size: 4rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .experience {
    padding: 15px;
  }

  .experience-heading {
    font-size: 22px;
    font-size: 5rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .experience {
    padding: 20px;
  }

  .experience-heading {
    font-size: 6rem;
  }
}

/* Common styles for all screen sizes */
.experience-heading {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  font-family: "Archivo Black", sans-serif;
  color: rgb(20, 20, 68);
}

.experience-item {
  margin-top: 20px;
}

.job-title {
  font-size: 18px;
  font-weight: bold;
  color: #3498db;
}

.company-name {
  font-size: 16px;
  color: rgb(198, 41, 41);
}

.date-range {
  font-size: 1em;
  font-weight: bold;
  color: black;
}

.description {
  font-size: 1em;
  margin-left: 2em;
  margin-right: 2em;
}
