.footer {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
}

.left-section {
  flex: 1;
  text-align: left;
}

.middle-section {
  flex: 1;
  text-align: start;
}

.right-section {
  text-align: right;
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .left-section,
  .middle-section,
  .right-section {
    flex: 1;
    text-align: center;
    margin-bottom: 10px;
  }

  .right-section a {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .left-section,
  .middle-section,
  .right-section {
    flex: 1;
    text-align: center;
    margin-bottom: 10px;
  }

  .right-section a {
    display: block;
    margin: 0 auto;
  }
}
