.header {
  background-color: white;
  display: flex;
  justify-content: space;
  align-items: center;
  padding: 10px 0;
  color: #333;
  box-sizing: border-box;
  overflow: hidden;
}
.logo-with-border {
  display: flex;
  align-items: center;
}

.logo-with-border img {
  max-width: 10em; /* Adjust the size as needed */
  margin-right: 10px; /* Spacing between logo and navbar */
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar li {
  margin-right: 20px; /* Spacing between navbar tabs */
}

.navbar a {
  text-decoration: none;
  color: #333; /* Tab text color */
  font-size: 16px; /* Adjust the font size as needed */
}

.right-section {
  display: flex;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Spacing between location and Search */
}

.search {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Spacing between Search and Hire button */
}

.hire-button {
  background-color: #f646aa; /* Light pink color for the Hire button */
  color: #fff; /* Text color for the button */
  padding: 10px 20px;
  border-radius: 20px; /* Rounded corners */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.hire-button:hover {
  background-color: #ff91a2; /* Button background color on hover */
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .location,
  .search {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
