.header {
  background-color: white;
  display: flex;
  justify-content: space-between; /* To separate left and right sections */
  align-items: center;
  padding: 10px 20px; /* Increased padding for better spacing */
  color: #333;
  box-sizing: border-box;
  overflow: hidden;
  height: 4em;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo-with-border img {
  max-width: 10em;
  margin-right: 10px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 1em;
}

.right-section {
  display: flex;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.hire-button {
  background-color: #f646aa;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.hire-button:hover {
  background-color: #ff91a2;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .location,
  .search {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
