.header {
  background-color: white;
  display: flex;
  justify-content: space-between; /* To separate left and right sections */
  align-items: center;
  padding: 10px 20px; /* Increased padding for better spacing */
  color: #333;
  box-sizing: border-box;
  overflow: hidden;
  height: 4em;
}

.left-section {
  display: flex;
  align-items: center;
}

.middle-section img {
  max-width: 10em;
  margin-right: 10px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 1em;
}

.right-section {
  display: flex;
  align-items: center;
}

.hire-button {
  background-color: #f646aa;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.hire-button:hover {
  background-color: #ff91a2;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Update your CSS for the sidebar and header */
.sidebar {
  border-top: 2px solid black;
  position: fixed;
  top: 1.5em;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #fff;
  transition: left 0.3s;
}

.sidebar.open {
  left: 0;
  margin-top: 2.5em;
}

.hamburger {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  font-size: 24px;
  z-index: 1;
  color: black;
}

.sidebar ul {
  margin-top: 1.55em;
  text-align: center;
  list-style-type: none;
  padding: 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.sidebar ul li {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  top: 1em;
  padding: 0.2em;
}
